<a href="https://colab.research.google.com/github/RaphaelMolina/Mineracao_Preparacao_e_Pre-Processamento_de-Dados/blob/main/Minera%C3%A7%C3%A3o%2C_Prepara%C3%A7%C3%A3o_e_Pr%C3%A9_Processamento_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importar Bibliotecas

In [2]:
import pandas as pd

# Trabalhar com dados dos jogos de tenis como exemplo

https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2021.csv

In [3]:
dados = pd.read_csv('https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2021.csv')
dados.head(5)

  tourney_id  tourney_name  ... loser_rank  loser_rank_points
0  2021-0499  Delray Beach  ...      119.0              566.0
1  2021-0499  Delray Beach  ...      789.0               22.0
2  2021-0499  Delray Beach  ...       74.0              877.0
3  2021-0499  Delray Beach  ...      101.0              733.0
4  2021-0499  Delray Beach  ...      293.0              171.0

[5 rows x 49 columns]

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2727 entries, 0 to 2726
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          2727 non-null   object
 1   tourney_name        2727 non-null   object
 2   surface             2727 non-null   object
 3   draw_size           2727 non-null   int64
 4   tourney_level       2727 non-null   object
 5   tourney_date        2727 non-null   int64
 6   match_num           2727 non-null   int64
 7   winner_id           2727 non-null   int64
 8   winner_seed         1165 non-null   float64
 9   winner_entry        417 non-null    object
 10  winner_name         2727 non-null   object
 11  winner_hand         2725 non-null   object
 12  winner_ht           2389 non-null   float64
 13  winner_ioc          2727 non-null   object
 14  winner_age          2727 non-null   float64
 15  loser_id            2727 non-null   int64
 16  loser_seed          693 non-null    float64
 17  loser_entry         635 non-null    object
 18  loser_name          2727 non-null   object
 19  loser_hand          2727 non-null   object
 20  loser_ht            2204 non-null   float64
 21  loser_ioc           2727 non-null   object
 22  loser_age           2725 non-null   float64
 23  score               2727 non-null   object
 24  best_of             2727 non-null   int64
 25  round               2727 non-null   object
 26  minutes             2650 non-null   float64
 27  w_ace               2636 non-null   float64
 28  w_df                2636 non-null   float64
 29  w_svpt              2636 non-null   float64
 30  w_1stIn             2636 non-null   float64
 31  w_1stWon            2636 non-null   float64
 32  w_2ndWon            2636 non-null   float64
 33  w_SvGms             2637 non-null   float64
 34  w_bpSaved           2636 non-null   float64
 35  w_bpFaced           2636 non-null   float64
 36  l_ace               2636 non-null   float64
 37  l_df                2636 non-null   float64
 38  l_svpt              2636 non-null   float64
 39  l_1stIn             2636 non-null   float64
 40  l_1stWon            2636 non-null   float64
 41  l_2ndWon            2636 non-null   float64
 42  l_SvGms             2637 non-null   float64
 43  l_bpSaved           2636 non-null   float64
 44  l_bpFaced           2636 non-null   float64
 45  winner_rank         2722 non-null   float64
 46  winner_rank_points  2722 non-null   float64
 47  loser_rank          2701 non-null   float64
 48  loser_rank_points   2701 non-null   float64
dtypes: float64(29), int64(6), object(14)
memory usage: 1.0+ MB

In [5]:
dados.describe(include='all')

       tourney_id tourney_name  ...   loser_rank  loser_rank_points
count        2727         2727  ...  2701.000000        2701.000000
unique        113          113  ...          NaN                NaN
top      2021-580    Wimbledon  ...          NaN                NaN
freq          127          127  ...          NaN                NaN
mean          NaN          NaN  ...   103.198815        1388.586449
std           NaN          NaN  ...   149.243436        1460.176805
min           NaN          NaN  ...     1.000000           1.000000
25%           NaN          NaN  ...    37.000000         707.000000
50%           NaN          NaN  ...    68.000000         992.000000
75%           NaN          NaN  ...   112.000000        1591.000000
max           NaN          NaN  ...  2146.000000       12113.000000

[11 rows x 49 columns]

# Verificar valores nulos

In [6]:
dados.isnull()

      tourney_id  tourney_name  ...  loser_rank  loser_rank_points
0          False         False  ...       False              False
1          False         False  ...       False              False
2          False         False  ...       False              False
3          False         False  ...       False              False
4          False         False  ...       False              False
...          ...           ...  ...         ...                ...
2722       False         False  ...       False              False
2723       False         False  ...       False              False
2724       False         False  ...       False              False
2725       False         False  ...       False              False
2726       False         False  ...        True               True

[2727 rows x 49 columns]

# Verificar valores nulos nas colunas

In [7]:
dados.isnull().sum()

tourney_id               0
tourney_name             0
surface                  0
draw_size                0
tourney_level            0
tourney_date             0
match_num                0
winner_id                0
winner_seed           1562
winner_entry          2310
winner_name              0
winner_hand              2
winner_ht              338
winner_ioc               0
winner_age               0
loser_id                 0
loser_seed            2034
loser_entry           2092
loser_name               0
loser_hand               0
loser_ht               523
loser_ioc                0
loser_age                2
score                    0
best_of                  0
round                    0
minutes                 77
w_ace                   91
w_df                    91
w_svpt                  91
w_1stIn                 91
w_1stWon                91
w_2ndWon                91
w_SvGms                 90
w_bpSaved               91
w_bpFaced               91
l_ace                   91
l_df                    91
l_svpt                  91
l_1stIn                 91
l_1stWon                91
l_2ndWon                91
l_SvGms                 90
l_bpSaved               91
l_bpFaced               91
winner_rank              5
winner_rank_points       5
loser_rank              26
loser_rank_points       26
dtype: int64

# Verificar coluna "winner_entry", que tem muitos valores nulos e indica como o vencedor entrou no torneio

In [8]:
dados['winner_entry'].describe()

count     417
unique      6
top         Q
freq      234
Name: winner_entry, dtype: object

In [9]:
dados['winner_entry'].unique()

array([nan, 'Q', 'WC', 'Alt', 'PR', 'LL', 'SE'], dtype=object)

# Apagar todas as linhas que o atributo "loser_rank" é nulo, porque são poucas ocasiões e isso pode implicar erros nos resultados

In [10]:
dados.dropna(subset=['loser_rank'], inplace=True)

In [11]:
dados.isnull().sum()

tourney_id               0
tourney_name             0
surface                  0
draw_size                0
tourney_level            0
tourney_date             0
match_num                0
winner_id                0
winner_seed           1536
winner_entry          2287
winner_name              0
winner_hand              1
winner_ht              323
winner_ioc               0
winner_age               0
loser_id                 0
loser_seed            2008
loser_entry           2072
loser_name               0
loser_hand               0
loser_ht               502
loser_ioc                0
loser_age                0
score                    0
best_of                  0
round                    0
minutes                 76
w_ace                   90
w_df                    90
w_svpt                  90
w_1stIn                 90
w_1stWon                90
w_2ndWon                90
w_SvGms                 89
w_bpSaved               90
w_bpFaced               90
l_ace                   90
l_df                    90
l_svpt                  90
l_1stIn                 90
l_1stWon                90
l_2ndWon                90
l_SvGms                 89
l_bpSaved               90
l_bpFaced               90
winner_rank              2
winner_rank_points       2
loser_rank               0
loser_rank_points        0
dtype: int64

# Apagar colunas que todos os valores são nulos

In [12]:
dados.dropna(axis=1, how='all')

                           tourney_id  ... loser_rank_points
0                           2021-0499  ...             566.0
1                           2021-0499  ...              22.0
2                           2021-0499  ...             877.0
3                           2021-0499  ...             733.0
4                           2021-0499  ...             171.0
...                               ...  ...               ...
2721  2021-M-DC-2021-WG2-M-THA-DEN-01  ...               8.0
2722  2021-M-DC-2021-WG2-M-THA-DEN-01  ...              27.0
2723  2021-M-DC-2021-WG2-M-THA-DEN-01  ...               2.0
2724  2021-M-DC-2021-WG2-M-TUR-LAT-01  ...              38.0
2725  2021-M-DC-2021-WG2-M-TUR-LAT-01  ...             359.0

[2701 rows x 49 columns]

# Alterar valor dos dados nulos em uma coluna

In [13]:
dados['loser_entry'].unique()

array([nan, 'Q', 'WC', 'Alt', 'PR', 'LL', 'SE'], dtype=object)

In [14]:
dados['loser_entry'].fillna(value='x', inplace=True)

In [15]:
dados['loser_entry'].unique()

array(['x', 'Q', 'WC', 'Alt', 'PR', 'LL', 'SE'], dtype=object)

# Alterar mais de um atributo, com condições diferentes

In [16]:
dados['w_ace'].unique()

array([ 4.,  7.,  6.,  2.,  5.,  3., 22., 10.,  9., 13., 27.,  0.,  8.,
        1., 15., 12., nan, 11., 14., 23., 17., 16., 18., 41., 26., 19.,
       21., 30., 25., 20., 29., 32., 28., 24., 34., 36., 44., 33., 49.,
       31.])

In [17]:
dados['loser_ht'].unique()

array([196.  ,    nan, 188.  , 185.  , 193.  , 206.  , 198.  , 191.  ,
       208.  , 183.  , 180.  , 178.  , 175.  , 190.  , 181.  , 211.  ,
       203.  , 173.  , 170.  , 172.  ,   1.83])

In [18]:
dados.fillna(value={'w_ace':0, 'loser_ht':dados['loser_ht'].mean()}, inplace=True)

In [19]:
dados['w_ace'].unique()

array([ 4.,  7.,  6.,  2.,  5.,  3., 22., 10.,  9., 13., 27.,  0.,  8.,
        1., 15., 12., 11., 14., 23., 17., 16., 18., 41., 26., 19., 21.,
       30., 25., 20., 29., 32., 28., 24., 34., 36., 44., 33., 49., 31.])

In [20]:
dados['loser_ht'].unique()

array([196.        , 186.91488404, 188.        , 185.        ,
       193.        , 206.        , 198.        , 191.        ,
       208.        , 183.        , 180.        , 178.        ,
       175.        , 190.        , 181.        , 211.        ,
       203.        , 173.        , 170.        , 172.        ,
         1.83      ])

# Usar o método ffill para projetar um dado para o registro seguinte

In [21]:
dados['minutes'][1975:1990]

1981    128.0
1982     98.0
1983    119.0
1984      NaN
1985    141.0
1986     98.0
1987    127.0
1988      NaN
1989     98.0
1990     83.0
1991    135.0
1992     85.0
1993    140.0
1994    144.0
1995    131.0
Name: minutes, dtype: float64

In [22]:
dados['minutes'].fillna(method='ffill', inplace=True)

In [23]:
dados['minutes'][1975:1990]

1981    128.0
1982     98.0
1983    119.0
1984    119.0
1985    141.0
1986     98.0
1987    127.0
1988    127.0
1989     98.0
1990     83.0
1991    135.0
1992     85.0
1993    140.0
1994    144.0
1995    131.0
Name: minutes, dtype: float64

# Identificar duplicados

In [24]:
dados.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2721    False
2722    False
2723    False
2724    False
2725    False
Length: 2701, dtype: bool

In [25]:
dados.duplicated().sum()

0

# Eliminar duplicados de uma coluna

In [26]:
dados.drop_duplicates(subset=['tourney_name'], inplace=True)

In [27]:
dados['tourney_name'].head(10)

0               Delray Beach
27                   Antalya
58     Great Ocean Road Open
113        Murray River Open
168                  Atp Cup
198          Australian Open
325                  Cordoba
352                Singapore
379              Montpellier
406             Buenos Aires
Name: tourney_name, dtype: object

In [28]:
dados.describe()

        draw_size  tourney_date  ...   loser_rank  loser_rank_points
count  109.000000  1.090000e+02  ...   109.000000         109.000000
mean    28.458716  2.021077e+07  ...   176.146789        1644.614679
std     31.472072  3.311072e+02  ...   287.831542        2237.338527
min      2.000000  2.021010e+07  ...     1.000000           1.000000
25%      4.000000  2.021050e+07  ...    28.000000         366.000000
50%     32.000000  2.021092e+07  ...    66.000000        1000.000000
75%     32.000000  2.021112e+07  ...   183.000000        1825.000000
max    128.000000  2.021120e+07  ...  1921.000000       12113.000000

[8 rows x 35 columns]

# Vamos ver como fazer um deslocamento

# Vamos importar os dados das ações da Apple

https://finance.yahoo.com/quote/AAPL/history

In [30]:
dados_02 = pd.read_csv('AAPL.csv')

In [31]:
dados_02

           Date        Open        High  ...       Close   Adj Close     Volume
0    2020-11-05  117.949997  119.620003  ...  119.029999  118.269302  126387100
1    2020-11-06  118.320000  119.199997  ...  118.690002  118.134956  114457900
2    2020-11-09  120.500000  121.989998  ...  116.320000  115.776031  154515300
3    2020-11-10  115.550003  117.589996  ...  115.970001  115.427666  138023400
4    2020-11-11  117.190002  119.629997  ...  119.489998  118.931198  112295000
..          ...         ...         ...  ...         ...         ...        ...
247  2021-10-29  147.220001  149.940002  ...  149.800003  149.800003  124850400
248  2021-11-01  148.990005  149.699997  ...  148.960007  148.960007   74588300
249  2021-11-02  148.660004  151.570007  ...  150.020004  150.020004   69122000
250  2021-11-03  150.389999  151.970001  ...  151.490005  151.490005   54511500
251  2021-11-04  151.580002  152.429993  ...  150.960007  150.960007   60278200

[252 rows x 7 columns]

In [32]:
dados_02['close_ontem']=dados_02['Close'].shift(1)

In [33]:
dados_02

           Date        Open        High  ...   Adj Close     Volume  close_ontem
0    2020-11-05  117.949997  119.620003  ...  118.269302  126387100          NaN
1    2020-11-06  118.320000  119.199997  ...  118.134956  114457900   119.029999
2    2020-11-09  120.500000  121.989998  ...  115.776031  154515300   118.690002
3    2020-11-10  115.550003  117.589996  ...  115.427666  138023400   116.320000
4    2020-11-11  117.190002  119.629997  ...  118.931198  112295000   115.970001
..          ...         ...         ...  ...         ...        ...          ...
247  2021-10-29  147.220001  149.940002  ...  149.800003  124850400   152.570007
248  2021-11-01  148.990005  149.699997  ...  148.960007   74588300   149.800003
249  2021-11-02  148.660004  151.570007  ...  150.020004   69122000   148.960007
250  2021-11-03  150.389999  151.970001  ...  151.490005   54511500   150.020004
251  2021-11-04  151.580002  152.429993  ...  150.960007   60278200   151.490005

[252 rows x 8 columns]

# Nova coluna com a porcentagem de alteração de um dia para o outro

In [34]:
dados_02['alteração %'] = ((dados_02['Close'] / dados_02['close_ontem']) - 1)*100

In [35]:
dados_02.head(20)

          Date        Open        High  ...     Volume  close_ontem  alteração %
0   2020-11-05  117.949997  119.620003  ...  126387100          NaN          NaN
1   2020-11-06  118.320000  119.199997  ...  114457900   119.029999    -0.285640
2   2020-11-09  120.500000  121.989998  ...  154515300   118.690002    -1.996800
3   2020-11-10  115.550003  117.589996  ...  138023400   116.320000    -0.300893
4   2020-11-11  117.190002  119.629997  ...  112295000   115.970001     3.035265
5   2020-11-12  119.620003  120.529999  ...  103162300   119.489998    -0.234328
6   2020-11-13  119.440002  119.669998  ...   81581900   119.209999     0.041945
7   2020-11-16  118.919998  120.989998  ...   91183000   119.260002     0.872045
8   2020-11-17  119.550003  120.669998  ...   74271000   120.300003    -0.756446
9   2020-11-18  118.610001  119.820000  ...   76322100   119.389999    -1.139124
10  2020-11-19  117.589996  119.059998  ...   74113000   118.029999     0.516818
11  2020-11-20  118.639999  118.769997  ...   73604300   118.639999    -1.095754
12  2020-11-23  117.180000  117.620003  ...  127959300   117.339996    -2.974261
13  2020-11-24  113.910004  115.849998  ...  113874200   113.849998     1.159420
14  2020-11-25  115.550003  116.750000  ...   76499200   115.169998     0.746723
15  2020-11-27  116.570000  117.489998  ...   46691300   116.029999     0.482631
16  2020-11-30  116.970001  120.970001  ...  169410200   116.589996     2.109964
17  2020-12-01  121.010002  123.470001  ...  127728200   119.050003     3.082737
18  2020-12-02  122.019997  123.370003  ...   89004200   122.720001     0.293352
19  2020-12-03  123.519997  123.779999  ...   78967600   123.080002    -0.113747

[20 rows x 9 columns]

In [36]:
dados_02.dropna(subset=['alteração %'], inplace=True)

In [37]:
dados_02

           Date        Open        High  ...     Volume  close_ontem  alteração %
1    2020-11-06  118.320000  119.199997  ...  114457900   119.029999    -0.285640
2    2020-11-09  120.500000  121.989998  ...  154515300   118.690002    -1.996800
3    2020-11-10  115.550003  117.589996  ...  138023400   116.320000    -0.300893
4    2020-11-11  117.190002  119.629997  ...  112295000   115.970001     3.035265
5    2020-11-12  119.620003  120.529999  ...  103162300   119.489998    -0.234328
..          ...         ...         ...  ...        ...          ...          ...
247  2021-10-29  147.220001  149.940002  ...  124850400   152.570007    -1.815563
248  2021-11-01  148.990005  149.699997  ...   74588300   149.800003    -0.560745
249  2021-11-02  148.660004  151.570007  ...   69122000   148.960007     0.711598
250  2021-11-03  150.389999  151.970001  ...   54511500   150.020004     0.979870
251  2021-11-04  151.580002  152.429993  ...   60278200   151.490005    -0.349857

[251 rows x 9 columns]

In [38]:
dados_02.describe(include='all')

              Date        Open  ...  close_ontem  alteração %
count          251  251.000000  ...   251.000000   251.000000
unique         251         NaN  ...          NaN          NaN
top     2020-11-11         NaN  ...          NaN          NaN
freq             1         NaN  ...          NaN          NaN
mean           NaN  134.434782  ...   134.362590     0.106963
std            NaN   10.664458  ...    10.718145     1.569148
min            NaN  113.910004  ...   113.849998    -4.167351
25%            NaN  125.155002  ...   125.715001    -0.774052
50%            NaN  133.460007  ...   133.110001     0.109688
75%            NaN  144.205002  ...   145.239998     1.111931
max            NaN  156.979996  ...   156.690002     5.385122

[11 rows x 9 columns]

# Transformar dados categóricos (qualitativos) em dados numéricos

In [39]:
dados=pd.read_csv('https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2021.csv')

In [40]:
dados['winner_ioc']

0       POL
1       POL
2       USA
3       USA
4       POL
       ...
2722    DEN
2723    THA
2724    TUR
2725    TUR
2726    TUR
Name: winner_ioc, Length: 2727, dtype: object

In [41]:
dados['winner_ioc'].unique()

array(['POL', 'USA', 'GBR', 'ITA', 'ECU', 'COL', 'CRO', 'BRA', 'AUS',
       'KAZ', 'FRA', 'BEL', 'GER', 'GEO', 'BUL', 'TUR', 'FIN', 'ESP',
       'RUS', 'SRB', 'NED', 'URU', 'SLO', 'RSA', 'DEN', 'KOR', 'UKR',
       'CAN', 'SUI', 'CZE', 'LTU', 'BLR', 'ARG', 'POR', 'HUN', 'JPN',
       'GRE', 'AUT', 'NOR', 'MDA', 'SWE', 'SVK', 'CHI', 'IND', 'TUN',
       'PER', 'TPE', 'BIH', 'BOL', 'ISR', 'ROU', 'BAR', 'INA', 'DOM',
       'MEX', 'ESA', 'PAR', 'THA'], dtype=object)

# Veja a documentação do Scikit-learn sobre preprocessing!!!

In [42]:
from sklearn.preprocessing import LabelEncoder

In [43]:
paises = dados['winner_ioc']

In [44]:
paises

0       POL
1       POL
2       USA
3       USA
4       POL
       ...
2722    DEN
2723    THA
2724    TUR
2725    TUR
2726    TUR
Name: winner_ioc, Length: 2727, dtype: object

In [45]:
lencoder = LabelEncoder()
paises_numeros = lencoder.fit_transform(paises)
paises_numeros

array([41, 41, 57, ..., 54, 54, 54])

In [46]:
paises.head(10)

0    POL
1    POL
2    USA
3    USA
4    POL
5    GBR
6    USA
7    USA
8    ITA
9    POL
Name: winner_ioc, dtype: object

In [47]:
dados['paises_numeros']=paises_numeros

In [48]:
dados

                           tourney_id  ... paises_numeros
0                           2021-0499  ...             41
1                           2021-0499  ...             41
2                           2021-0499  ...             57
3                           2021-0499  ...             57
4                           2021-0499  ...             41
...                               ...  ...            ...
2722  2021-M-DC-2021-WG2-M-THA-DEN-01  ...             15
2723  2021-M-DC-2021-WG2-M-THA-DEN-01  ...             51
2724  2021-M-DC-2021-WG2-M-TUR-LAT-01  ...             54
2725  2021-M-DC-2021-WG2-M-TUR-LAT-01  ...             54
2726  2021-M-DC-2021-WG2-M-TUR-LAT-01  ...             54

[2727 rows x 50 columns]